<!DOCTYPE html>
<html lang="en" ng-app="demo" ng-controller="demoCtrl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.2.18/angular-animate.min.js"></script>
    <script src="script.js"></script>
    <title>Madlibs!</title>
</head>
<body>
  <div class="wrap">
    <div class="header">
      <img src="img/smile.png">
      <img src="img/madlib.png">
      <h1>Don't Stop Madlibbin'!</h1>
    </div><!--/header-->
    <div class="input_wrap {{inputVisable}}">
      <input type="radio" ng model="gender" value="male"ng-click="male()">Male name</input>
      <input type="radio" ng model="gender" value="female"ng-click="female()">Female name</input>
      <h2> Please Provide the following words</h2>
      <table>
        <tr>
            <td class="label">Name</td>
            <td class="input"><input type="text"name='handle'ng-model="data.handle"></td>
        </tr>
        <tr>
            <td class="label">Adjective</td>
            <td class="input"><input type="text"name='adjective'ng-model="data.adjective"></td>
        </tr> 
        <tr>
            <td class="label">Time</td>
            <td class="input"><input type="text"name='when'ng-model="data.when"></td>
        </tr> 
        <tr>
            <td class="label">Destination</td>
            <td class="input"><input type="text"name='where'ng-model="data.where"></td>
        </tr> 
        <tr>
            <td class="label">Location</td>
            <td class="input"><input type="text"name='place'ng-model="data.place"></td>
        </tr> 
        <tr>
            <td class="label">Time</td>
            <td class="input"> <input type="text"name='when'ng-model="data.when"></td>
        </tr> 
        <tr><td class="label">Destination</td>
            <td class="input"> <input type="text"name='where2'ng-model="data.where2"></td>
        </tr> 
        <tr>
            <td class="label">Occupation</td>
            <td class="input"><input type="text"name='job'ng-model="data.job"></td>
        </tr> 
        <tr>
            <td class="label">Adjective</td>
            <td class="input"><input type="text"name='adjective2'ng-model="data.adjective2"></td>
        </tr> 
        <tr><td class="label">Alcohol</td>   
            <td class="input"><input type="text"name='alcohol'ng-model="data.alcohol"></td>
        </tr>
        <tr><td class="label">Adjective</td> 
            <td class="input"><input type="text"name='adjective3'ng-model="data.adjective3"></td>
        </tr>
        <tr>
            <td><button type='submit' ng-click="submit()">Submit</button></td>
        </tr>
      </table>
    </div>
      
      <div class="output {{outputVisable}}">
     
         <p>{{data.handle}} was just a small town {{girlboy}}, livin in a {{data.adjective}} world. {{heshe}} took a {{data.when}} train going {{data.where}}. Just a city {{girlboy}}, born and raised in south {{data.place}}, {{heshe}} took a {{data.when}} train going {{data.where2}}. </p> 
 
         <p>A {{data.job}} in a {{data.adjective2}} room. The smell of {{data.alcohol}} and {{data.adjective3}} perfume. For a smile they can share the night. It goes on and on and on.</p>
         <button ng-click="reset()">Reset</button>
      </div>
    </div><!--/wrap-->  
</body>
</html>